.button{
	-fx-background-color:#445469,
	linear-gradient(#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);

	-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:16px;
	-fx-text-fill:white;
	
	-fx-border-color:white;
	-fx-border-width:2px;
	
	-fx-background-radius:5px;
	-fx-border-radius:5px;
	
	-fx-background-insets:1px;
	
	}