.button{
	-fx-alignment:center;
	-fx-padding:0 0 0 0;
	-fx-label-padding:0 0 0 0;
	
	-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:1.7em;
	-fx-text-fill:white;
	
	-fx-pref-width:100em;
	
	-fx-border-radius:5;
	-fx-background-radius:5;
	-fx-background-color:#1EA185;
	-fx-border-width:2;
	-fx-border-color:white;
	
	-fx-background-repeat:no-repeat;
	-fx-background-position:98%; 
	-fx-background-size:2.4em;
}

.label{
	-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:12;
	-fx-text-fill:white;
	-fx-alignment:center;
}


.region{
	-fx-background-color:#222A35;
	-fx-background-radius:10;
	-fx-border-color:white;	
}