.button{
	-fx-background-color:#F29B26,
	
    linear-gradient(#FAD7A7 0%, #F8C47C 5%, #F29B26 50%, #F29B26 51%, #C7770C 100%);

	-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:12px;
	-fx-text-fill:white;
	
	}