
.basicText {
    -fx-fill: black;
    -fx-font-weight:normal;
    -fx-background-color: transparent;
    -fx-font-family: calibri;
    -fx-font-size: 1em;
    -fx-padding: 0em;
}
.boldText {
    -fx-font-weight: bold;
}
.greenText{
    -fx-fill: #1EA185;
}
.greyText{
    -fx-fill: #737572;
}
.italicText{
    -fx-font-style: italic;
}

#leftATableColumn > .label {
    -fx-background-image: url("../pictures/descPane_buttons/leftA.png");
    -fx-pref-width : 1em;
    -fx-pref-height : 1em;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

#rightATableColumn > .label {
    -fx-background-image: url("../pictures/descPane_buttons/rightA.png");
    -fx-pref-width : 1em;
    -fx-pref-height : 1em;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}


#elementTable {
    -fx-background-color: #445469;
    -fx-border-width: 0;
}

#elementTable .column-header,
#elementTable .column-header-background {
    -fx-background-color: #445469;
    -fx-border-width: 1em;
}


#elementTable .column-header .label {
    -fx-alignment: baseline-center;
    -fx-text-alignment: center;
    -fx-wrap-text: false;
    -fx-font-size: 0.5em;
    -fx-text-fill: white;
}

#elementTable .table-cell{
    -fx-font-size:5em;
}


#elementTable .table-row-cell {
    -fx-background-color: #445469;
}

#elementTable .table-row-cell .text {
       -fx-fill: white ;
       -fx-font-size: 0.5em;
}

#elementTable .table-cell {
    -fx-border-color: #445469;
    -fx-border-width: 0 0 0 10;
    -fx-padding: 5 3 15 3;
}

.label{
    -fx-font-size: 1em;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#windowTitle{
    -fx-font-size: 0.8em;
    -fx-text-fill: #445469;
}

#mainBorderPane{
	-fx-background-color:#445469;
}

#previewPane{
	-fx-background-color:white;
}

#titleBar{
	-fx-background-color:#D6DCE4;
    -fx-text-fill:#445469;
}

.addButton {
    -fx-background-image: url("../pictures/descPane_buttons/addButton.png");
    -fx-pref-width : 1em;
    -fx-pref-height : 1em;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}
.upButton {
    -fx-background-image: url("../pictures/descPane_buttons/uparrow.png");
    -fx-min-width: 0em;
    -fx-min-height: 0em;
    -fx-pref-width : 2em;
    -fx-pref-height : 2em;
    -fx-max-width: 10em;
    -fx-max-height: 10em;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}
.downButton {
    -fx-background-image: url("../pictures/descPane_buttons/downarrow.png");
    -fx-min-width: 0em;
    -fx-min-height: 0em;
    -fx-pref-width : 2em;
    -fx-pref-height : 2em;
    -fx-max-width: 10em;
    -fx-max-height: 10em;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}
.clearButton {
    -fx-background-image: url("../pictures/descPane_buttons/xarrow.png");
    -fx-min-width: 0em;
    -fx-min-height: 0em;
    -fx-pref-width : 2em;
    -fx-pref-height : 2em;
    -fx-max-width: 10em;
    -fx-max-height: 10em;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}



.table-row-cell {
    -fx-cell-size: 30px;
}

.text-field{
    -fx-text-fill: red;
    -fx-font-size: 0.5em;
    -fx-min-height: 1.5em;
    -fx-max-height: 1.5em;
    -fx-min-width: 0em;
    -fx-max-width: 55em;
    -fx-alignment:baseline-center;
}