
.basicText {
    -fx-fill: black;
    -fx-font-weight:normal;
    -fx-background-color: transparent;
    -fx-font-family: calibri;
    -fx-font-size: 1em;
    -fx-padding: 0em;
}
.boldText {
    -fx-font-weight: bold;
}
.greenText{
    -fx-fill: #1EA185;
}
.greyText{
    -fx-fill: #737572;
}
.italicText{
    -fx-font-style: italic;
}

#leftATableColumn > .label {
    -fx-background-image: url("../pictures/descPane_buttons/leftA.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center center;
}

#rightATableColumn > .label {
    -fx-background-image: url("../pictures/descPane_buttons/rightA.png");
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-position: center center;
}

#elementTable {
    -fx-background-color: #445469;
    -fx-border-width: 0;
}

#elementTable .column-header,
#elementTable .column-header-background {
    -fx-background-color: #445469;
    -fx-border-width: 0;
}

#elementTable .column-header {
    -fx-border-width: 0 0 0 0;
    -fx-border-color: #445469;
}

#elementTable .column-header .label {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}


#elementTable .table-row-cell {
    -fx-background-color: #445469;
    -fx-padding: 0 0 0 0;
}

#elementTable .table-row-cell .text {
       -fx-fill: white ;
       -fx-font-size: 14px;
}

#elementTable .table-cell {
    -fx-border-color: #445469;
    -fx-border-width: 1 1 1 1;
    -fx-padding: 0 0 0 0;
}

.label{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#windowTitle{
    -fx-font-size: 14px;
    -fx-text-fill: #445469;
}

#mainBorderPane{
	-fx-background-color:#445469;
}

#previewPane{
	-fx-background-color:white;
}

#titleBar{
	-fx-background-color:#D6DCE4;
    -fx-text-fill:#445469;
}

.addButton {
    -fx-background-image: url("../pictures/descPane_buttons/addButton.png");
    -fx-background-insets: 10,10;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.upButton {
    -fx-background-image: url("../pictures/descPane_buttons/uparrow.png");
    -fx-background-insets: 10,10;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.downButton {
    -fx-background-image: url("../pictures/descPane_buttons/downarrow.png");
    -fx-background-insets: 10,10;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.clearButton {
    -fx-background-image: url("../pictures/descPane_buttons/xarrow.png");
    -fx-background-insets: 10,10;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.table-view .column-header-background .filler{
	-fx-background-color:transparent;
}

.table-row-cell {
    -fx-cell-size: 24px;
}

.table-view .scroll-bar .track-background{
		-fx-background-color:#445469;
}

.table-view .scroll-bar .increment-button{
		-fx-background-color:#445469;
}

.table-view .scroll-bar .increment-button .increment-arrow{

	-fx-background-color:white;
}

.table-view .scroll-bar .decrement-button{
		-fx-background-color:#445469;
}

.table-view .scroll-bar .decrement-button .decrement-arrow{
	-fx-background-color:white;
}

.table-view .scroll-bar:vertical .track{

	-fx-background-color:linear-gradient(from 0% 0% to 100% 0%,#ACB9CA 0%, #D6DCE4 40%,#D6DCE4 60%, #ACB9CA 100%);
}

.table-view .scroll-bar:horizontal .track{

	-fx-background-color:linear-gradient(from 0% 0% to 0% 100%,#ACB9CA 0%, #D6DCE4 40%,#D6DCE4 60%, #ACB9CA 100%);
}


.table-view .scroll-bar:vertical .thumb{
	-fx-background-color:#445469,
	linear-gradient(from 0% 0% to 100% 0%,#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(from 0% 0% to 100% 0%,#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);

}

.table-view .scroll-bar:horizontal .thumb{
	-fx-background-color:#445469,
	linear-gradient(from 0% 0% to 0% 100%,#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(from 0% 0% to 0% 100%,#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);

}