.menu-bar{
	-fx-background-color:#ACB9CA;
	-fx-border-color:#ACB9CA;
}

.stackpane{
	-fx-background-color:#445469;
}

.menu-item{
	-fx-background-color:#ACB9CA;
	-fx-padding:5 0 5 5;
}

.label{
	-fx-font-family:Calibri;
	-fx-font-weight:bold;
	-fx-font-size:12px;
	-fx-text-fill:#212934;
}

.table-view:row-selection .column-header-background .filler{
	-fx-background-color:#ACB9CA;
}

.activeMenu{
    -fx-background-color: #D6DCE4;
}