.progress-bar:determinate{}

.progress-bar:determinate .track{
	-fx-background-color:white;
	-fx-background-radius:2;
	-fx-effect:innershadow(gaussian,grey,10,0,1,1) ;
}
.progress-bar:determinate .bar{
	-fx-background-color:#F29B26,
	linear-gradient(#C7770C 0%, #C7770C 20%, #F29B26 100%),
    linear-gradient(#FAD7A7 0%, #F8C47C 5%, #F29B26 50%, #F29B26 51%, #C7770C 100%);
    -fx-background-radius:2;
}