.progress-bar:determinate{}

.progress-bar:determinate .track{
	-fx-background-color:transparent;
	-fx-background-radius:2;
	-fx-border-color:white;
	-fx-border-style:dotted
}
.progress-bar:determinate .bar{
	-fx-background-color:#5EE1C4;
    -fx-background-radius:2;
}