.label{
	-fx-font-family:Calibri;
	-fx-font-weight:bold;
	-fx-font-size:14px;
	-fx-text-fill:white;
	-fx-padding:5 0 0.0 0;
	}
	
.table-view{
	-fx-background-color:#F2F2F2;
	-fx-background-size:0 0;
	-fx-border-color:transparent;
}


.table-view .placeholder .label{
	-fx-font-family:Calibri;
	-fx-font-weight:bold;
	-fx-font-size:16px;
	-fx-text-fill:#8496AE;
}

.table-view:row-selection:constrained-resize .column-header-background{
	-fx-background-color:#445469,
	linear-gradient(#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
}

.table-row-cell:filled:even{
	-fx-background-color:#ACB9CA;
	-fx-border-color:transparent;	
}

.table-row-cell:filled:odd{
	-fx-background-color:#D6DCE4;
	-fx-border-color:transparent;	
}
.table-row-cell:filled:selected .table-cell {
    -fx-background-color: #1EA185;
}
.table-row-cell:filled:selected .table-cell .text {
       -fx-fill: white ;
       -fx-font-weight: bold;

}

.table-view:row-selection .column-header-background .nested-column-header .table-column .label{
		-fx-background-color:transparent;
		-fx-border-color:transparent;
}

.table-view:row-selection .column-header-background .filler{
	-fx-background-color:#445469,
	linear-gradient(#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
}

.table-view:row-selection:constrained-resize .column-resize-line{
	-fx-background-color:red;
}

.table-view:row-selection .column-header-background .nested-column-header{
	-fx-background-color:red;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column{
	-fx-background-color:#445469,
	linear-gradient(#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
    -fx-border-color:transparent;
}


.table-column{
	-fx-border-color:transparent;
	-fx-alignment: CENTER;
}

.table-view .arrow {  
   -fx-mark-color: white ;  
} 


#firstco{
	-fx-border-color:transparent;
	-fx-alignment: CENTER-LEFT;
}