.label{
	-fx-font-family:Calibri;
	-fx-font-weight:bold;
	-fx-font-size:14px;
	-fx-text-fill:white;
	-fx-padding:5 0 0.0 0;
	
	}
	
.table-view{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	
}



.table-view:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:even{
	-fx-background-color:transparent;
	-fx-border-color:transparent;	
}

.table-view:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:odd{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-text-fill:white;	
}

.table-view:row-selection .column-header-background .nested-column-header .table-column .label{
		-fx-background-color:transparent;
		-fx-border-color:transparent;
		-fx-text-fill:white;
}

.table-view .column-header .label{
    -fx-alignment:CENTER_LEFT;
}

.table-view:row-selection .column-header-background .nested-column-header{
	-fx-background-color:transparent;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column{
	-fx-background-color:transparent;
}

.table-view:row-selection .virtual-flow .clipped-container .sheet .table-row-cell:odd .table-column:odd .text{
	-fx-border-color:transparent;
}

.table-column{
	-fx-border-color:transparent;
	-fx-text-fill:white;
}

.table-view .column-header-background .filler{
	-fx-background-color:transparent;
}

.table-view .column-header-background {
	-fx-background-color:transparent;
}


.table-view .scroll-bar .track-background{
		-fx-background-color:#445469;
}

.table-view .scroll-bar .increment-button{
		-fx-background-color:#445469;
}

.table-view .scroll-bar .increment-button .increment-arrow{

	-fx-background-color:white;
}

.table-view .scroll-bar .decrement-button{
		-fx-background-color:#445469;
}

.table-view .scroll-bar .decrement-button .decrement-arrow{
	-fx-background-color:white;
}

.table-view .scroll-bar:vertical .track{
	
	-fx-background-color:linear-gradient(from 0% 0% to 100% 0%,#ACB9CA 0%, #D6DCE4 40%,#D6DCE4 60%, #ACB9CA 100%);
}

.table-view .scroll-bar:horizontal .track{
	
	-fx-background-color:linear-gradient(from 0% 0% to 0% 100%,#ACB9CA 0%, #D6DCE4 40%,#D6DCE4 60%, #ACB9CA 100%);
}


.table-view .scroll-bar:vertical .thumb{
	-fx-background-color:#445469,
	linear-gradient(from 0% 0% to 100% 0%,#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(from 0% 0% to 100% 0%,#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
	
}

.table-view .scroll-bar:horizontal .thumb{
	-fx-background-color:#445469,
	linear-gradient(from 0% 0% to 0% 100%,#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(from 0% 0% to 0% 100%,#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
	
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #1EA185;
    }