.label{
	-fx-font-family:Calibri;
	-fx-font-weight:bold;
	-fx-font-size:14px;
	-fx-text-fill:white;
	-fx-padding:5 0 0.0 0;
	}
	
.table-view{
	-fx-background-color:#F2F2F2;
	-fx-background-size:0 0;
	-fx-border-color:transparent;
}


.table-view .placeholder .label{
	-fx-font-family:Calibri;
	-fx-font-weight:bold;
	-fx-font-size:16px;
	-fx-text-fill:#8496AE;
}

.table-view:row-selection:constrained-resize .column-header-background{
	-fx-background-color:#445469,
	linear-gradient(#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
}

.table-row-cell:filled:even{
	-fx-background-color:#ACB9CA;
	-fx-border-color:transparent;	
}

.table-row-cell:filled:odd{
	-fx-background-color:#D6DCE4;
	-fx-border-color:transparent;	
}
.table-row-cell:filled:selected .table-cell {
    -fx-background-color: #1EA185;
}
.table-row-cell:filled:selected .table-cell .text {
       -fx-fill: white ;
       -fx-font-weight: bold;

}

.table-view:row-selection .column-header-background .nested-column-header .table-column .label{
		-fx-background-color:transparent;
		-fx-border-color:transparent;
}

.table-view:row-selection .column-header-background .filler{
	-fx-background-color:#445469,
	linear-gradient(#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
}

.table-view:row-selection:constrained-resize .column-resize-line{
	-fx-background-color:transparent;
}

.table-view:row-selection .column-header-background .nested-column-header{
	-fx-background-color:transparent;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column{
	-fx-background-color:#445469,
	linear-gradient(#323E4E 0%, #323E4E 20%, #445469 100%),
    linear-gradient(#ACB9CA 0%, #8496AE 5%, #445469 50%, #445469 51%, #323E4E 100%);
    -fx-border-color:transparent;
}


.table-column{
	-fx-border-color:transparent;
	-fx-alignment: CENTER;
}

.table-view .arrow {  
   -fx-mark-color: white ;  
} 


#leftAlignCol{
	-fx-border-color:transparent;
	-fx-alignment: CENTER-LEFT;
}
#rightAlignCol{
	-fx-border-color:transparent;
	-fx-alignment: CENTER-RIGHT;
}
#centerAlignCol{
	-fx-border-color:transparent;
	-fx-alignment: CENTER;
}


.table-view:row-selection .column-header-background .show-hide-columns-button{
	-fx-max-width:  0;
	-fx-min-width:  0;
	-fx-pref-width:  0;
	-fx-padding:  0 0 0 0;
	-fx-background-insets:  0 0 0 0;
	visibility: false;
}

.table-view .column-header#active-column {
  -fx-background-color:#1EA185,
  	    linear-gradient(#167862 0%, #167862 20%, #1EA185 100%),
        linear-gradient(#94EBD8 0%, #5EE1C4 5%, #1EA185 50%, #1EA185 51%, #167862 100%);
  -fx-background-insets: 0px, 2px;

}
/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
/*-fx-my-menu-color: The menu bar's default background color (i.e., when item is not hovered / selected)
-fx-my-menu-color-highlighted: An item's background color if it is hovered / selected.
-fx-my-menu-font-color: The menu bar's default font color (i.e., when item is not hovered / selected)
-fx-my-menu-font-color-highlighted: An item's font color if it is hovered / selected.*/
* {
    -fx-my-menu-color: #ACB9CA;                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #445469;      /* Change according to your needs */
    -fx-my-menu-font-color: #445469;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #ACB9CA; /* Change according to your needs */
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
    -fx-background-insets: 0, 0, 0, 0;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
    -fx-font-family:Calibri;
    -fx-font-weight:lighter;
    -fx-font-size:12px;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: #445469;
    -fx-padding: 0.05em 0.05em 0.05em 0.05em;
}
/*.menu{
    -fx-background-color:#445469;
}
.menu-bar{
	-fx-background-color:#445469;
	-fx-border-color:#445469;
}

.menu-item{
	-fx-background-color:#8497B0;
	-fx-padding: 5 0 5 5;
}

.menu-item:focused {
	-fx-background: #1EA185;
    -fx-background-color: #1EA185;
    -fx-border-color:#1EA185;
}

.menu-bar .container .menu:hover{
    -fx-background-color: #1EA185;
}

.menu-bar .container .menu:pressed{
    -fx-background-color: #1EA185;
}

.menu-bar .container .menu:showing{
    -fx-background-color: #1EA185;
}*/

#classPaneCharClassifTable *.increment-button,
#classPaneCharClassifTable *.decrement-button,
#classPaneCharClassifTable *.increment-arrow,
#classPaneCharClassifTable *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}
#behaviourBox {
  -fx-alignment: CENTER;
}