
.basicText {
    -fx-fill: black;
    -fx-font-weight:normal;
    -fx-background-color: transparent;
    -fx-font-family: calibri;
    -fx-font-size: 1em;
    -fx-padding: 0em;
}
.boldText {
    -fx-font-weight: bold;
}
.greenText{
    -fx-fill: #1EA185;
}
.greyText{
    -fx-fill: #737572;
}
.italicText{
    -fx-font-style: italic;
}

.text-area{
	-fx-font-family:calibri;
	-fx-font-size:12;
	-fx-background-color:transparent;
	-fx-background-radius:0;
	
	-fx-border-color:transparent;
	-fx-border-radius:0;
	
	-fx-effect:none;
	
	-fx-text-fill:#445469;
	-fx-font-weight:bold;
	/*-fx-wrap-text:true;*/
	
}

.text-area .scroll-pane:fitToWidth:fitToHeight{
	-fx-effect:none;
	-fx-border-color:transparent;
	-fx-background-color:transparent;
	
}

.text-area .scroll-pane:fitToWidth:fitToHeight .viewport{
	-fx-border-color:red;
	-fx-effect:none;
		
}

.text-area .scroll-pane:fitToWidth:fitToHeight .viewport .content{
	-fx-border-color:transparent;
	-fx-border-radius:0;
	
	-fx-background-color:white;
	-fx-background-radius:0;
	
				
}

.text-area .scroll-pane:fitToWidth .viewport .content .text{
	
	
}