.titled-pane{
		-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:16px;
	-fx-text-fill:white;
	}

.titled-pane .title{
	-fx-background-color:#F29B26,
	linear-gradient(#C7770C 0%, #C7770C 20%, #F29B26 100%),
    linear-gradient(#FAD7A7 0%, #F8C47C 5%, #F29B26 50%, #F29B26 51%, #C7770C 100%);
	
}

.titled-pane:expanded .title .arrow-button .arrow{
	-fx-background-color:white;
	-fx-border-color:white;
	-fx-effect:none;
}

.titled-pane:collapsed .title .arrow-button .arrow{
	-fx-background-color:white;
	-fx-border-color:white;
	-fx-effect:none;
}

.titled-pane:expanded .content{
	-fx-background-color:#FDEBD2;
}

.label{
	-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:18px;
	-fx-text-fill:#F29B26;
	}
	
.text-field{
	-fx-font-family:Calibri;
	-fx-font-weight:normal;
	-fx-font-size:18px;
	-fx-text-fill:#F29B26;
}	