.titled-pane{
	-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:16px;
	-fx-text-fill:white;
	}

.titled-pane .title{
	-fx-background-color:#9BBB5C,
	linear-gradient(#77933E 0%, #77933E 20%, #9BBB5C 100%),
    linear-gradient(#D7E3BD 0%, #C2D69C 5%, #9BBB5C 50%, #9BBB5C 51%, #77933E 100%);
	
}

.titled-pane:expanded .title .arrow-button .arrow{
	-fx-background-color:white;
	-fx-border-color:white;
	-fx-effect:none;
}

.titled-pane:collapsed .title .arrow-button .arrow{
	-fx-background-color:white;
	-fx-border-color:white;
	-fx-effect:none;
}

.titled-pane:expanded .content{
	-fx-background-color:#EBF1DE;
}

.label{
	-fx-font-family:Calibri;
	-fx-font-weight:Bold;
	-fx-font-size:14px;
	-fx-text-fill:#9BBB5C;
	
}

.text-field{
	-fx-font-family:Calibri;
	-fx-font-weight:normal;
	-fx-font-size:18px;
	-fx-text-fill:#9BBB5C;
}	