#titleBar {
    -fx-background-color: #445469;
}

#neonecIcon{
  -fx-pref-height : 2em;
  -fx-pref-width: 2em;
  -fx-background-image:url("../pictures/Neonec-white-Logo-only.png");
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat no-repeat;
  -fx-background-size: contain;
  -fx-background-position: center center;
  -fx-padding: 0;
}

#neonecTitle{
    -fx-font-weight: bold;
    -fx-font-size: 1em;
    -fx-text-background-color: white;
}

#winClose {
    -fx-cursor:hand;
}

#winClose{
    -fx-background-image:url("../pictures/winClose.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

#winClose:hover {
    -fx-background-color: #8496AE;
}

#winMaximize {
    -fx-cursor:hand;
}

#winMaximize{
    -fx-background-image:url("../pictures/winMaximize.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

#winMaximize:hover {
    -fx-background-color: #8496AE;
}

#winMinimize {
    -fx-cursor:hand;
}

#winMinimize{
    -fx-background-image:url("../pictures/winMinimize.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center center;
}

#winMinimize:hover {
    -fx-background-color: #8496AE;
}